<h1>Product Manager</h1>

<div id='container'>
<h1>Product List</h1> 
<button [routerLink]="['/products/new']"><h4>Add new product</h4></button>
<br>
<br>
<table border='4'>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Qty</th>
        <th>Price</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let product of allProducts">
        <td>{{product._id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.quantity}}</td>
        <td>${{product.price}}.00</td>
        <td><button id='edit'><a [routerLink]="['/products', product._id, 'edit']">Edit</a></button><button id='delete'><a [routerLink]="['/products', product._id]">Details</a></button></td>
    </tr>
</table>
</div>
